.fuzzy_logo {    
	width: 185px;
    display: inline-block;    
	vertical-align: text-bottom;
}

.fuzzy_title {
	display: inline-block;
}

.custom_nav {
  position: relative;
}

.custom_nav:after {
  z-index: 10;
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
}

.fa-tiktok:before {    
	content: '';
    background: url(../../tiktok.svg) no-repeat;
    height: 44px;
    width: 31px;
    background-position: center;
    background-size: 100%;
    display: inline-block;
    vertical-align: sub;
    margin-bottom: -5px;    
	margin-bottom: -4px;
}

.fa-tiktok.grey:before {
    background: url(../../tiktok_grey.svg) no-repeat;
}

.row .gtr-50 .fa-tiktok.grey:before {
	    margin-bottom: -18px;
}