.fuzzy_logo {    
	width: 185px;
    display: inline-block;    
	vertical-align: text-bottom;
}

.fuzzy_title {
	display: inline-block;
}

.custom_nav {
  position: relative;
}

.custom_nav:after {
  z-index: 10;
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
}

.fa-bandcamp:before {        
	    content: '';
    background: url(../../bandcamp.svg) no-repeat;
    height: 100%;
    width: 105%;
    background-position: center;
    background-size: 100%;
    display: inline-block;
    vertical-align: middle;
    margin-top: -10px;
    margin-left: 3px;
}

.fa-bandcamp-grey:before {      
        background: url(../../bandcamp-grey.svg) no-repeat;
    background-position: center;
    background-size: 100%;
    display: inline-block;
    height: 14px;
    width: 40px;
}

.fa-tiktok:before {        
	    content: '';
    background: url(../../tiktok.svg) no-repeat;
    height: 63%;
    width: 63%;
    /* width: 99%; */
    ackground-position: center;
    background-size: 100%;
    display: inline-block;
    vertical-align: middle;
    margin-top: -11px;    
	margin-left: 11px;
}

.fa-tiktok.grey:before {
    background: url(../../tiktok_grey.svg) no-repeat;
}

.row .gtr-50 .fa-tiktok.grey:before {
	    margin-bottom: -18px;
}

.fa-tiktok.grey.panel:before {
	margin-bottom: -7px;
    margin-left: -2px;
}

.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

#___ytsubscribe_0 {    
	float: right !important;
    margin-right: 20px !important;
    margin-top: 10px !important;
}

#recording-left {    
	width: 65%;
    display: inline-block;
    vertical-align: top;
    margin-top: 30px;
    padding-right: 45px;
}

#recording-right {
	width: 30%;
    display: inline-block;margin-left: 16px;
	
}

@media only screen and (max-device-width : 640px) {
	#___ytsubscribe_0 {
		margin-bottom: -25px !important;
		float: left !important;
		margin-top: 10px !important;
		display: block !important;
		margin-right: 0 !important;
	}
	
	#recording-left {   
		padding: 0;
		margin: 0;
		width: 100%;
		display: block !important;;
		vertical-align: top !important;;
	}

	#recording-right {
		padding: 0;
		margin: 0;
		width: 100%;
		display: block !important;;
		vertical-align: top !important;;
		
	}
	#recording-right iframe {
		width: 100%;
	}
}
